*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body{
    font-family: "Poppins", sans-serif;
}

a{
    text-decoration: none;
    display: inline-block;
}

.btn{
    padding: 8px 20px;
    background-color: green;
    border-radius: 30px;
    color: white;
}

.btn-primary{
    background-color: #231A36;
}

.secondary-btn{
    background-color: rgba(255, 255, 255, 0.2);
}

.sec-heading{
    margin-bottom: 40px;
}

.sec-heading h2{
    margin-bottom: 20px;
}

header{
    padding: 20px 0px;
}

.container{
   width: 80%;
   margin: 0px auto;
}

.main{
    background: url("../img/banner/bg.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-wrapper nav{
    display: flex;
    gap: 30px;
}

.header-wrapper nav a{
    color: white;
}

/* Banner */

.banner{
    padding: 100px 0px;
}

.banner-wrapper{
    text-align: center;
    color: #ffffff;
}

.banner-wrapper h1{
    font-size: 55px;
    margin-bottom: 40px;
}

.banner-wrapper p{
    margin-bottom: 70px;
}

/* clients */

.clients{
    padding: 100px 0px;
}

.sec-heading{
    margin-bottom: 50px;
    text-align: center;
}

.clients-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* need */
.need{
    padding: 100px 0px;
}

.need-wrapper > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.need-wrapper > div > div {
    width: 45%;
}

.need-wrapper > div img:not(a img){
    width: 80%;
}

/* search */
.search{
    padding: 100px 0px;
    background-color: #231A36;
    color: #ffffff;
}

.search .container{
    width: 50%;
}

.search-wrapper{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.search-wrapper div{
    text-align: center;
}


/* solutions */
.solutions{
    padding: 100px 0px;
}

.solutions{
    padding-bottom: 200px;
}

.solutions-wrapper{
    display: flex;
    justify-content: space-between;
}

.solutions-wrapper > div{
    width: 30%;
}

.solutions-wrapper > div h3{
    font-size: 16px;
}

.solutions-wrapper > div > img{
    width: 100%;
}

.solutions-wrapper > div{
   position: relative;
}

.solutions-wrapper > div > div{
   background-color: #ffffff;
   width: 80%;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.241);
   padding: 30px;
   position: absolute;
   bottom:-100px;
   left: 0px;
}

.solutions-wrapper > div > div > div {
    display: flex;
    gap: 10px;
    margin: 15px 0px;
}

.solutions-wrapper > div > div > div span{
    font-size: 10px;
}

.happy{
    padding: 100px 0px;
}

.happy .sec-heading h2{
    position: relative;
    display: inline-block;
}

.happy .sec-heading img{
    position: absolute;
    top: -40px;
    left: -35px;
}

@media only screen and (min-width: 992px){

    .banner-wrapper h1{
        font-size: 94px;
    }

    .need .container{
        width: 50%;
    }

    .need-wrapper > div:nth-child(odd) > div:nth-child(2){
        text-align: right;
    }

    .line-break{
        display: block;
    }
}


@media only screen and (max-width: 992px){

    .clients-wrapper > div{
        width: 30%;
        text-align: center;
    }
    
    .search-wrapper div{
        width: 50%;
        margin-bottom: 30px;
    }

    .need-wrapper > div {
        flex-direction: column;
        gap: 50px;
        text-align: center;
    }

    .need-wrapper > div > div {
        width: 100%;
    }

    .need-wrapper > div:nth-child(2) {
        flex-direction: column-reverse;
    }

    .solutions-wrapper{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    
    .solutions-wrapper > div{
        width: 80%;
        margin: 100px auto;
    }
    
}

@media only screen and (max-width: 768px){

    .clients-wrapper > div{
        width: 48%;
        text-align: center;
    }
    
}


@media only screen and (max-width: 576px){

    .clients-wrapper > div{
        width: 100%;
        text-align: center;
    }

    .search-wrapper div{
        width: 100%;
    }
    
}



@media only screen and (max-width: 768px) {
    .header-wrapper{
        flex-direction: column;
        gap: 20px;
    }

    .btn.secondary-btn{
        display: none;
    }

    /* .header-wrapper.nav{
        display: none;
    } */
}
