
a{
    text-decoration: none;
}

.my-text-color{
    color: #651FFF;
}

.banner,
.main-img,
.lightning,
.lightweight,
.works{
    padding: 100px 0px;
}

h2{
    font-size: 45px;
    font-weight:700;
}


h3{
    font-size: 38px;
    font-weight: 700;
}

h4{
    font-size: 32px;
    font-weight: 700;

}




/* Banner */
.banner{
    background-color: #EBE5FA;
}

.lighting-wrapper > div > div > div {
    background-color: #651FFF;
    padding: 60px;
    border-radius: 30px;
    color: #ffffff;
}

.lighting-wrapper a{
    color: #ffffff;
}

/* lightweight */

.lightweight-wrappper{
    margin-top: 100px;
}

.lightweight-wrappper > div > div > div{
    padding: 50px;
    border-radius: 30px;
}

.lightweight-wrappper > div > div:nth-child(1) > div {
    background-color: #FFF7ED;
}

.lightweight-wrappper > div > div:nth-child(2) > div {
    background-color: #E0F7FA;
}

.lightweight-inner{
    padding: 50px;
    background-color: #ECECFE;
    border-radius: 30px;
    margin-top: 30px;
}

/* decentralized */
.decentralized{
    padding: 100px 0px;
}

.decentralized-wrapper > div > div:nth-child(2) > div{
    box-shadow: 0px 4px 24px 0px rgba(0, 0, 0,0.2);
    border-radius: 25px;
}

/* simple */

.simple{
    padding: 100px 0px;
}

.simple-wrapper > div > div > div{
    padding: 50px;
}

.simple-wrapper > div > div:nth-child(1) > div{
    box-shadow: 0px 4px 24px 0px rgb(0 0 0 / 26%);
    border-radius: 30px;
}


.simple-wrapper > div > div:nth-child(2) > div{
   background-color: #651FFF;
   color: #ffffff;
   border-top-right-radius: 20px;
   border-bottom-right-radius: 20px;
}

/* Works */

.works-wrapper > div > div > div{
   position: relative;
}

.line{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 50%;
    top: 35px;
    left: 80%;
}

@media screen and (min-width: 992px){
    h2{
        font-size: 52px;
    }


    h3{
        font-size: 42px;
       
    }
} 



@media screen and (max-width: 768px){
    .works-wrapper > div > div > div{
        margin-bottom: 300px;
    }

    .line{
        top: 350px;
        left: 25%;
        rotate: 90deg;
    }
} 

